* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f2f7fb;
  color: #222;
  min-height: 100vh;
}

/* Menu */
.menu {
  background-color: #0c2d48;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.menu ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
}

.menu a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.menu a:hover {
  color: #8dd7f2;
}

/* Container principal */
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

/* Títulos */
h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #0c2d48;
}

/* Formulários */
.form-triagem {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo label {
  margin-bottom: 0.3rem;
  font-weight: 500;
}

input[type="text"],
input[type="number"],
select,
textarea {
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

textarea {
  resize: none;
}

.botao-enviar {
  background-color: #0c2d48;
  color: white;
  padding: 0.8rem;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.botao-enviar:hover {
  background-color: #145d8c;
}


.paciente-card.vermelho {
  border-left: 6px solid #dc3545; /* vermelho */
  background-color: #ffe5e5;
}

.paciente-card.amarelo {
  border-left: 6px solid #ffc107; /* amarelo */
  background-color: #fffbe6;
}

.paciente-card.verde {
  border-left: 6px solid #28a745; /* verde */
  background-color: #e6ffee;
}
.painel-card {
  border-left: 6px solid #28a745; 
  background-color: #e6ffee;
}


/* Links */
.link-medico,
.link-espera {
  margin-top: 2rem;
  text-align: center;
}

.link-medico a,
.link-espera a {
  color: #0c2d48;
  text-decoration: none;
  font-weight: bold;
}

.link-medico a:hover,
.link-espera a:hover {
  text-decoration: underline;
}
