* h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 2rem;
}



/* TV layout */
.tv-layout{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /*espaçamento entre os container*/
  align-items: flex-start;
  padding-left: 0.5rem;
}

/* Imagem */
.painel-imagem img{

  max-width: 500px;
  height: 450px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.painel-lista{
  flex: 1;
}

.painel {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.painel-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.painel-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.painel-card p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #34495e;
}

.painel-card strong {
  color: #2c3e50;
}

.filaDeEspera {
  margin-top: 3rem;
} 

/* Hora */
.hora-atual{
  text-align: center;
  font-size: 1.3rem;
  color: #2c3e50;
  margin-top: 1rem;
  font-weight: bold;
}


/* responsividade */


@media (max-width:600px){
  .painel-card{
    padding: 1rem;
  }
  .painel-card p{
    font-size: 1rem;
  }

}
@media (max-width: 768px) {
  .painel-tv {
    flex-direction: column;
    align-items: center;
  }

  .imagem-explicativa {
    width: 90%;        
  }
}